<root>
    <!--- analytics update frequency in seconds-->
    <analytics-update-frequency>60</analytics-update-frequency>
    <!--- how oft the data from icecast will be refreshed -->
    <icecast-update-frequency>60</icecast-update-frequency>

    <!-- influxDB update frequency -->
    <influxdb-update-frequency>60</influxdb-update-frequency>

    <!-- Geodatabase path -->
    <geodatabase-path>.... /dbip-city-lite-2020-10.mmdb</geodatabase-path>

    <!-- geolocation provider: currently API from MaxMind (maxmind) and Mockprovider (mockmaxmind) are supported
     This product includes GeoLite2 data created by MaxMind, available from https://www.maxmind.com //is it still necessary to attrbiute if a database not included?
     https://blog.maxmind.com/2019/12/18/significant-changes-to-accessing-and-using-geolite2-databases/
     https://db-ip.com/db/download/ip-to-city-lite -->
    <!-- maxmind api is compatible with db-ip.com -->
    <geolocation-provider>maxmind</geolocation-provider>

    <servers>

    <!--- icecast server configuration -->
    <server>
        <!--- server id -->
        <id>1</id>
        <!--- icecast status url -->
        <statsurl>http://:8000/admin/stats</statsurl>
        <!--- icecast listener url -->
        <listenerurl>http://path_to_your_server:8000/admin/listclients?mount=</listenerurl>
        <!--- login -->
        <login>login</login>
        <!--- password -->
        <password>password</password>

        <!--- mountpoints configuration -->
        <mountpointsgaaccounts>
        <mountpointsgaaccount>
            <!--- mountpoint -->
            <mountpoint>/live</mountpoint>
            <!--- GA-Account ID -->
            <gaaccount>UA-1234-1</gaaccount>
            <!--- user generation id algorithm in ga -->
            <user_id_algorithm>ip</user_id_algorithm>
            <!--- character decoding -->
            <character-decoding>no</character-decoding>
        </mountpointsgaaccount>
        </mountpointsgaaccounts>

        <!--- next mount point on the same server

        <mountpointsgaaccounts>
            <mountpoint>/live_aac</mountpoint>
            <gaaccount>UA-123456-4</gaaccount>
	        <user_id_algorithm>anonymized_ip</user_id_algorithm>
	        <character-decoding>no</character-decoding>
        </mountpointsgaaccounts>
-->

    </server>

    <!---next server
   <server>
       <id>2</id>
        <statsurl>http://....:9005/admin/stats</statsurl>
        <listenerurl>http://....:9005/admin/listclients?mount=</listenerurl>
        <login>login</login>
        <password>password</password>
        <mountpointsgaaccounts>
            <mountpoint>/hardrock</mountpoint>
            <gaaccount>UA-12345-6</gaaccount>
        	<user_id_algorithm>anonymized_ip</user_id_algorithm>
            <character-decoding>no</character-decoding>
        </mountpointsgaaccounts>

    </server>
-->
    </servers>
</root>